<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<div>
    <link rel="stylesheet" th:href="@{/css/bootstrapEx.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <link rel="stylesheet" th:href="@{/css/map.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">


    <!-- Подключаем jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Подключаем Bootstrap JS -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Подключаем Выпадающее меню с поиском -->
    <script src="/js/dropmenu_with_search.js"></script>
</div>
</html>